body {
  margin: 0;
  padding: 0;
}
main {
  background-image: url("https://i.ytimg.com/vi/9sNQFJAb3Ss/maxresdefault.jpg")!important; 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


img {
  width: 400px !important;
  height: 500px !important;
}
#home {
  font-size: 250%;
}
h1 {
  color: aliceblue !important;
}
h2 {
  margin-top: 5% !important;
  color: aliceblue !important;
  font-size: 700% !important;
  text-align: center !important;
}
h3 {
  color: aliceblue !important;
  font-size: 400% !important;
  text-align: center !important;
}
label {
  color: aliceblue !important;
}
.container {
  margin-top: 2%;
}
.welcome {
  color : white !important;
  font-size: 200%;
  font-family: 'Courier New', Courier, monospace;
  padding-right: 5%;
}
.searchBar {
  height: 5vh;
  border-radius: 15px ;
  padding: 10px;
}
#result {
  position: absolute !important;
  background-color: rgba(0, 0, 0, 0.701) !important;
}
#result p {
  color: aliceblue;
}
.cuser {
  color: aliceblue;
  margin-left: 1%;
  font-size: 150%;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.cdate {
  color: rgba(240, 248, 255, 0.824);
  margin-left: 1%;
}
.comm {
  color: aliceblue;
  font-size: 120%;
  border: thick double #d2d2d2;
  width: 30%;
  padding: 1%;
  background-color: #2e2e2e;
}
textarea {
  width: 30%;
}
.pagecomm {
  margin-top: 1%;
  color: white;
}
#pcomm {
  font-size: 150%;
}
.reply-count {
  color: rgba(240, 248, 255, 0.811);
}
.reply {
  margin-left: 3%;
}
.reply-text {
  color: aliceblue;
  font-size: 120%;
  border: solid 1px #d2d2d2;
  width: 30%;
  padding: 0.75%;
  background-color: #4b4b4b45;
}
.scroll {
  display: flex;
  overflow: auto;
}
.pscroll {
  margin: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(234, 234, 234); 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(235, 235, 235); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d7d7d7; 
}
.detail {
  display: flex;
}
.pdetail1 {
  flex: 1;
}
.pdetail2 {
  flex: 2;
  color: white;
}
.imageFilm {
  width: 600px !important;
  height: 95vh !important;
}
#favorisBtn {
  background-color: transparent;
}
/* #directorDiv, #castingDiv, #similarDiv {
  height: 200px;
} */
#casting, #similar {
  display: flex;
}





/*******************************************************/
/* detail */
#detail {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
#detail * {
  margin: 0 !important;
  padding: 0 !important;
  /* border: 1px solid green; */
}
#castMedia,
#similarMedia,
#commentaireMedia {
  padding: 2% !important;
  background-color: #000;
  color: #fff;
}
/* SECTION INFO */
#detailMedia {
  /* display: flex; */
  height: 600px;
  display: flex;
  justify-content: space-between;
}
/* IMAGE ET BUTTON */
#containerImage {
  display: flex;
  padding: 2% 5% !important;
}
#containerImage img {
  width: 375px;
  box-shadow: 5px 5px 10px;
}

/* INFO DU FILM, DE LA SERIE OU DE LA PERSONNE */

#infoMedia p {
  justify-content: center;
  min-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
}
#title {
  text-align: center;
  font-size: 2rem;
  padding: 1% !important;
  font-weight: 600;
}

/* BOUTON FAVORIS */
#formFavoris {
  margin: auto 0 !important;
  /* padding-left: clamp(20px, 1%, 1%) !important; */
}
#btnFavoris {
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px 10px !important;
  margin: 20px auto !important;
}
#word_favoris {
  color: #fff;
  margin-left: 5px !important;
}
#info_favoris {
  width: 20%;
  margin: auto 5% !important;
}

/* DESCRIPTION OU BIOGRAPHIE */
#div_overview_Biography {
  background: linear-gradient(transparent, #000 20%);
  color: #fff;
  padding: 2% !important;
}
#title_overview {
  font-size: 2rem;
  margin-bottom: 1% !important;
}
/* #overview_Biography {
} */

/* SECTION CASTING AND SECTION SIMILAR*/
#castMedia h3,
#similarMedia h3 {
  font-size: 2rem;
  margin-bottom: 1% !important;
}
#castMedia a,
#similarMedia a {
  text-decoration: none;
  color: #fff;
}
#castMedia img,
#similarMedia img {
  width: 200px;
  height: 300px;
  margin-right: 15px !important;
}

/* SECTION CASTING */
#directorList {
  display: flex;
  overflow: auto;
}
#actorList {
  display: flex;
  overflow: auto;
}

/* SECTION SIMILAR */
#similarList {
  display: flex;
  overflow: auto;
}

/* SCROLL BAR HORIZONTAL */
/* width */
#directorList::-webkit-scrollbar,
#actorList::-webkit-scrollbar,
#similarList::-webkit-scrollbar {
  height: 10px;
}

/* Track */
#directorList::-webkit-scrollbar-track,
#actorList::-webkit-scrollbar-track,
#similarList::-webkit-scrollbar-track {
  background: #000;
  border-radius: 10px;
}

/* Handle */
#directorList::-webkit-scrollbar-thumb,
#actorList::-webkit-scrollbar-thumb,
#similarList::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* SECTION COMMENTAIRE */
@media screen and (max-width: 768px) {
  #detailMedia {
    flex-direction: column;
    height: auto;
  }
  #containerImage {
    justify-content: center;
  }
  #info_favoris {
    width: auto;
  }
  #containerImage img {
    width: 70%;
  }
}
/*******************************************************/

.btnEnvoyer {
color: #000 !important;
}