body {
    background-image: url("https://i.ytimg.com/vi/9sNQFJAb3Ss/maxresdefault.jpg")!important; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}


nav {
    background-color: black;
    display: flex !important;
    justify-content: space-around;
    padding: 1%;
}
.nava {
    color : white !important;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 5%;
}

#myCarousel {
    width: 500px;
    height: 600px ;
}
img {
    width: 500px !important;
    height: 600px !important;
}
#home {
    font-size: 250%;
}
h1 {
    color: aliceblue !important;
}
h2 {
    color: aliceblue !important;
    font-size: 700% !important;
}
h3 {
    color: aliceblue !important;
    font-size: 400% !important;
    text-align: center !important;
}
label {
    color: aliceblue !important;
}
.container {
    margin-top: 2%;
    display: flex !important;
    justify-content: space-around !important;
}
.welcome {
    color : white !important;
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 5%;
}
.searchBar {
    height: 5vh;
    border-radius: 15px ;
    padding: 10px;
}
#result {
    position: absolute !important;
    background-color: rgba(0, 0, 0, 0.701) !important;
}
#result p {
    color: aliceblue;
}
.cuser {
    color: aliceblue;
    margin-left: 1%;
    font-size: 150%;
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}
.cdate {
    color: rgba(240, 248, 255, 0.824);
    margin-left: 1%;
}
.comm {
    color: aliceblue;
    font-size: 120%;
    border: thick double #d2d2d2;
    width: 30%;
    padding: 1%;
    background-color: #2e2e2e;
}
textarea {
    width: 30%;
}
#pcomm {
    font-size: 150%;
}